# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Local configuration files (should not be committed)
.local
*.local

# Environment variables file (contains sensitive information)
.env
*.env

# IDE files
.classpath
.idea
*.iml
.project
.settings
.checkstyle
.idea
*iml
bin
/target/
